<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
        <hr>
        <label for="search">Search by recipe name</label> |
        <input type="text" id="search" [(ngModel)]="searchValue"> |
        <button class="btn btn-success" (click)="onClearSearch()" [disabled]="!searchValue">Clear</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-recipe-item
            *ngFor="let recipeItem of recipes | search:searchValue:'name' ; let id = index"
            [recipe]=recipeItem
            (click)="onSelectRecipeItem(id)">
        </app-recipe-item>
    </div>
</div>

